{#include tags/page}
{#title}Login - Bazillionaire{/title}
{#pageClass}login-page{/pageClass}
{#content}
    <div class="banner">Markets are open</div>
    {#if flash:error}
    <p class="error">{flash:error}</p>
    {/if}
    <form action="{uri:AuthController.login()}" method="post">
        {#authenticityToken/}
        <label for="username">Choose a username:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit" class="btn">Enter the Exchange</button>
    </form>
{/content}
{/include}
