# fly.toml app configuration file generated for bazillionaire on 2026-02-27T23:30:35-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bazillionaire'
primary_region = 'ord'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024

[[services.http_checks]]
  interval = "15s"
  timeout = "5s"
  grace_period = "10s"
  method = "GET"
  path = "/q/health/live"
