{#include tags/page}
{#title}Edit User - Bazillionaire{/title}
{#navigation}{#nav active="players" /}{/navigation}
{#content}
    <h1>Edit Profile</h1>
    {#if flash:error}
    <p class="error">{flash:error}</p>
    {/if}

    <form action="/users/{user.id}" method="post">
        {#authenticityToken/}
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value="{user.username}">
        <button type="submit" class="btn">Save Changes</button>
    </form>

    <hr class="section-rule">

    <form action="/users/{user.id}/delete" method="post">
        {#authenticityToken/}
        <button type="submit" class="btn btn-danger">Delete Account</button>
    </form>
{/content}
{/include}
