{#include tags/page}
{#title}Users - Bazillionaire{/title}
{#navigation}{#nav active="players" /}{/navigation}
{#content}
    <h1>Exchange Members</h1>
    <p class="byline">The directory of registered traders</p>
    {#if flash:error}
    <p class="error">{flash:error}</p>
    {/if}

    {#if users.empty}
    <p class="lead">No registered traders at this time.</p>
    {#else}
    <div class="listings">
    {#for user in users}
        <div class="listing">
            <div class="listing__name"><a href="/users/{user.id}">{user.username}</a></div>
        </div>
    {/for}
    </div>
    {/if}
{/content}
{/include}
